

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
</head>
<body>
<div th:fragment="footer">
    <footer>

        <div class="ui inverted vertical center aligned segment">

            <div class="ui inverted vertical footer segment">
                <div class="ui container">
                    <div class="ui stackable inverted divided equal height stackable grid">
                        <div class="three wide column">
                            <h4 class="ui inverted header">About</h4>
                            <div class="ui inverted link list">
                                <a href="#" class="item">Sitemap</a>
                                <a href="#" class="item">Contact Us</a>
                                <a href="#" class="item">Religious Ceremonies</a>
                                <a href="#" class="item">Gazebo Plans</a>
                            </div>
                        </div>
                        <div class="three wide column">
                            <h4 class="ui inverted header">Services</h4>
                            <div class="ui inverted link list">
                                <a href="#" class="item">Banana Pre-Order</a>
                                <a href="#" class="item">DNA FAQ</a>
                                <a href="#" class="item">How To Access</a>
                                <a href="#" class="item">Favorite X-Men</a>
                            </div>
                        </div>
                        <div class="seven wide column">
                            <h4 class="ui inverted header">&copy; camelia cinema  2018-2019</h4>
                            <p>Extra space for a call to action inside the footer that could help re-engage users.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/webjars/jquery/3.3.1-1/jquery.min.js" crossorigin="anonymous"></script>
    <!--<script src="/webjars/popper.js/1.14.4/popper.js"></script>-->
    <!--<script src="/webjars/bootstrap/4.1.3/js/bootstrap.min.js"></script>-->

        <script src="webjars/jquery/3.3.1-1/jquery.min.js"
                th:src="@{/webjars/jquery/3.3.1-1/jquery.min.js}"></script>
        <script src="webjars/Semantic-UI/2.4.1/semantic.min.js"
                th:src="@{/webjars/Semantic-UI/2.4.1/semantic.min.js}"></script>
        <script src="webjars/tinymce/4.7.9/tinymce.min.js"
                th:src="@{/webjars/tinymce/4.7.9/tinymce.min.js}"></script>
        <script type="application/javascript">
            $('.ui.dropdown.item')
                .dropdown();
        </script>


    <script>
        $(document)
            .ready(function() {

                // fix menu when passed
                if ( $('.masthead') == null ){

                    $('.mastheadbis')
                        .visibility({
                            once: false,
                            onBottomPassed: function() {
                                $('.fixed.menu').transition('fade in');
                            },
                            onBottomPassedReverse: function() {
                                $('.fixed.menu').transition('fade out');
                            }
                        })
                    ;

                }else{

                    $('.masthead')
                        .visibility({
                            once: false,
                            onBottomPassed: function() {
                                $('.fixed.menu').transition('fade in');
                            },
                            onBottomPassedReverse: function() {
                                $('.fixed.menu').transition('fade out');
                            }
                        })
                    ;

                }


                // create sidebar and attach to menu open
                $('.ui.sidebar')
                    .sidebar('attach events', '.toc.item')
                ;

            })
        ;
    </script>

    </div>


</body>
</html>
